body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.section {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  color: #030d1b;
}
.section:nth-child(even) {
  grid-template-columns: 1fr 1fr;
}
.section h2 {
  text-align: center;
  grid-column: span 2;
  color: #333;
  margin-bottom: 20px;
}
.section img {
  width: 80%;
  border-radius: 8px;
}
.section p {
  color: #555;
  line-height: 1.6;
}
.team-member {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.team-member img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.team-member .member-info h3 {
  margin: 0 0 10px 0;
  color: #333;
}
.team-member .member-info p {
  margin: 0;
  color: #555;
}
