<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script
      src="https://kit.fontawesome.com/b1d9e346ed.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
        <nav class="nav">
          <img class="logo" src="../img/logo.svg" alt="img" />
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="dash.html">DashBord</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="contract.html">Contract</a></li>
            
            <i class="fas fa-search"></i>
            <i class="fas fa-shopping-cart"></i>
          </ul>
        </nav>
      </header>

      <section>
        <div class="main-divs">
    
            <div>
               <div class="form-div">
                   <div class="img-divs">
                       <img class="sing-in-img" width="90%" height="300px"  src="../img/banner-5-asset-1.webp" alt="img">
                            </div>
                   <div class="form-main">
                   <form action="">
                       <h2>Sign Up</h2><br>
                     <p>YOUR NAME</p> 
                     <input class="input" type="text" placeholder="Your Name"> 
                      <p>CREAT PASSWORD</p>
                     <input class="input" type="password" placeholder="Password">
                      <p>CONFIRM PASSWORD</p>
                     <input class="input" type=" password" placeholder="Confirm Password">
                     <br> 
                     <button class="btn-grad" type="submit" placeholder="Sign In">Sign Up</button>
                     <br>
                     <p>Have a Account ? <span> <a href="Login.html">Login Now</a></span></p>
                   </form>
               </div>
                   
               </div>
            </div>
       
           </div>
      </section>


      <!-- footer -->

      <section>
      
        <!-- Footer Section -->
        <footer class="footer">
        
          <div class="footer-section">
              <h4>Quick Links</h4>
              <ul>
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="#blog">Blog</a></li>
                  <li><a href="#contact">Contact Us</a></li>
              </ul>
          </div>
        
          <div class="footer-section">
              <h4>Contact Us</h4>
              <ul>
                  <li>Email: mdhabib71024@gmail.com</li>
                  <li>Phone: +880 01571024601</li>
                  <li>Address:#123 Pet Street, Pet City, PC GUB</li>
              </ul>
          </div>
        
        
          <div class="footer-section">
              <h4>Follow Us</h4>
              <div class="social-icons">
                  <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                  <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
        
          <div class="footer-description">
              <p>Pawsitive Care is dedicated to providing the best care and resources for your pets. From expert advice to comprehensive guides, we are here to support you and your furry friends every step of the way.</p>
          </div>
        </footer>
        
        
        <div class="copyright">
          <p>&copy; 2024 ,Md Habibullah. All rights reserved.</p>
        </div>
       
            </section>
    
</body>
</html>